<!-- START SEARCH BAR -->
    <md-icon id="search-icon" class="material-icons">search</md-icon>
    <md-input-container>  
        <i class="material-icons">
        <input id="search-input" type="text" class="fa fa-search form-control" placeholder="Search Boards..." ng-model="searchText.search">
      </i>
    </md-input-container>

<!-- END SEARCH BAR -->
<h2>Your Boards</h2>

<md-card class="board" ng-repeat="board in boards | filter:{boardId, title}">
      <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar" src="/img/board-test.png">
        </md-card-avatar>
        <md-card-header-text>
           <span class="md-title"></span>
<!--            <span class="md-subhead"></span>
-->     </md-card-header-text>
      </md-card-header>

     <md-card-title>
        <md-card-title-text>
           <span class="md-headline"><a ng-href="#!/boards/list/{{board.id}}">{{board.title}}</a></span>
        </md-card-title-text>
     </md-card-title>

     <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
           <md-button class="md-icon-button" aria-label="icon">
              <md-icon class="material-icons" ng-click="postNewBoard()">add</md-icon>
           </md-button>
        </md-card-icon-actions>
     </md-card-actions>

     <md-card-content>
       <!-- insert the pins here -->
     </md-card-content>
</md-card>
