<h1>{{title}}</h1>
<div layout="column" class="inputdemoIcons">

  <br>
  <md-content class="md-no-momentum">

    <md-input-container class="md-icon-float md-block">
      <label>Board Name</label>
      <input ng-model="newBoard.title" type="text" placeholder="Name of your new board">
    </md-input-container>

    <!-- Add dropdown for which specific board to pin this pin to -->

    <md-button class="md-raised md-warn">Cancel</md-button>
    <md-button class="md-raised md-primary" ng-click="addNewBoard()">{{btnText}}</md-button>

  </md-content>

</div>
