<md-card>
     <md-card-header>
        <md-card-avatar>
           <img class="md-user-avatar" src="html5-mini-logo.jpg">
        </md-card-avatar>
        <md-card-header-text>
           <span class="md-title">HTML5</span>
           <span class="md-subhead">Learn HTML5 @TutorialsPoint.com</span>
        </md-card-header-text>
     </md-card-header>

     <md-card-title>
        <md-card-title-text>
           <span class="md-headline">HTML5</span>
        </md-card-title-text>
     </md-card-title>

<!--      <md-card-actions layout="row" layout-align="start center">
        <md-card-icon-actions>
           <md-button class="md-icon-button" aria-label="icon">
              <md-icon class="material-icons">add</md-icon>
           </md-button>
        </md-card-icon-actions>
     </md-card-actions>
 -->
     <md-card-content>
       <!-- insert the pins here -->
     </md-card-content>
</md-card>