<div class="row">
  <div id="login-pg" class="text-right">
    <section class="auth-form">
    <h2>Login/Register</h2>
    <md-input-container>
      <input placeholder="Enter Email" type="text"  ng-model="account.email">
    </md-input-container>
    <md-input-container>
      <input placeholder="Enter Password" type="password" ng-model="account.password">
    </md-input-container>
    <div>
      <md-button class="md-raised md-primary login-btn" ng-click="login()">Login</md-button>
      <md-button class="md-raised md-primary login-btn" ng-click="register()">Register</md-button><br>
      <md-button class="md-raised md-primary login-btn" ng-click="loginGoogle()">Login with Google</md-button>
    </div>
    </section>
  </div>
</div>