<div class="row">
  <div id="login-pg" class="col-xs-12 text-right">
    <section class="auth-form">
    <h4>Login/Register</h4>
    <div>
      <input placeholder="Enter Email" type="text" autofocus="true"  ng-model="account.email">
    </div>
    <div>
      <input placeholder="Enter Password" type="password" ng-model="account.password">
    </div>
    <div>
      <button class="btn btn-info login-btn" ng-click="login()">Login</button>
      <button class="btn btn-default login-btn" ng-click="register()">Register</button><br>
      <button class="btn btn-info login-btn" ng-click="loginGoogle()">Login with Google</button>
    </div>
    </section>
  </div>
</div>