<nav class="nav-wrapper" md-block ng-controller="NavCtrl">

  <div class="center">
    <ul class="center">
      <a href="#"><img class="brand-logo left" src="img/pin-logo.png"></img></a>

      <md-button class="nav-links md-primary" ng-show="!isLoggedIn"><a ng-href="#!/login">Login</a></md-button>

      <md-button class="nav-links md-primary" ng-show="isLoggedIn"><a ng-href="#!/pins/new">New Pin</a></md-button>

      <md-button class="nav-links md-primary" ng-show="isLoggedIn"><a ng-href="#!/pins/list">My Pins</a></md-button>

      <md-button class="nav-links md-primary" ng-show="isLoggedIn"><a ng-href="#!/pins/all">Discover Pins</a></md-button>

      <md-button class="nav-links md-primary" ng-show="isLoggedIn"><a ng-href="#!/boards/new">New Board</a></md-button>

      <md-button class="nav-links md-primary" ng-show="isLoggedIn"><a ng-href="#!/boards/list">All Boards</a></md-button>

      <md-button class="nav-links md-primary" ng-show="isLoggedIn"><a ng-href="#!/logout">Logout</a></md-button>
    </ul>
  </div>

  <hr ng-show="!isLoggedIn">

</nav>