<nav class="nav-wrapper" md-block ng-controller="NavCtrl">

  <div class="center">
    <ul class="center">
      <a href="#"><img class="brand-logo left" src="img/pin-logo.png"></img></a>
        <ul class="center">
          <md-button class="md-primary" ng-show="!isLoggedIn"><a ng-href="#!/login">Login</a></md-button>
          <md-button class="md-primary" ng-show="isLoggedIn"><a ng-href="#!/pins/new">New Pin</a></md-button>
          <md-button class="md-primary" ng-show="isLoggedIn"><a ng-href="#!/pins/list">All Pins</a></md-button>
          <md-button class="md-primary" ng-show="isLoggedIn"><a ng-href="#!/boards/new">New Board</a></md-button>
          <md-button class="md-primary" ng-show="isLoggedIn"><a ng-href="#!/logout">Logout</a></md-button>
        </ul>
      </div>
  <div class="col s6" ng-show="isLoggedIn">
    <md-input-container class="md-block" flex-gt-sm>
    <i class="material-icons"></i>
    <input type="text" class="fa fa-search form-control" placeholder="Search Pinterest..." ng-model="searchText.search">
    </md-input-container>
  </div>

</nav>