<h1>All Pins</h1>

<div class="pin-card" ng-repeat="pin in pins | filter:{name, title:searchText.search}">
		<img src="{{pin.img}}" class="pin-img"></img>

      <h2>{{pin.title}}</h2>
      <p>Pinned by: {{pin.name}}</p>

 	 	<md-card-actions layout="row" layout-align="start center">
	      <md-card-icon-actions>
	      	<md-button ng-click="addNewPin()" class="pin-btns md-icon-button" aria-label="icon">
	      		<md-icon class="material-icons">add</md-icon>
	      	</md-button>
	      	
	      	<md-button ng-click="pinDelete(pin.id)" class="pin-btns md-icon-button" aria-label="icon">
	      		<md-icon class="material-icons">delete</md-icon>
	      	</md-button>
      	</md-card-icon-actions>
      </md-card-actions>
</div> 

