<h1>{{title}}</h1>
<div layout="column" class="inputdemoIcons">

  <br>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <label>Content URL</label>
      <input ng-model="newPin.contentURL" type="text" placeholder="Add URL for your content page">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Photo URL</label>
      <input ng-model="newPin.photoURL" type="text" placeholder="URL for Pin Photo">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Pin Name</label>
      <input ng-model="newPin.pinName" type="text" placeholder="Name of your new pin">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Description</label>
      <textarea ng-model="newPin.description" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
    </md-input-container>

    <!-- Add dropdown for which specific board to pin this pin to -->

    <md-button class="md-raised md-warn">Cancel</md-button>
    <md-button class="md-raised md-primary">{{btnText}}</md-button>

  </md-content>

</div>
