
<md-content>
  <md-card>
    <div class="card-button">
      <span class="button-view" ng-hide="postPin(user.id) == true">
        <md-button class="md-raised" ng-disabled="selectedPin" ng-click="postPin()">Pin It!</md-button>
      </span>
      <img src="img/testImage.jpg" class="md-card-image" alt="image">
    </div>
    <div class="card-title">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{selectedPin.title}} Title</span>
          <span class="md-subhead">{{selectedPin.text}} Text</span>
          <span class="md-subhead">{{selectedPin.userName}} User</span>
        </md-card-title-text>
      </md-card-title>
    </div>
  </md-card>
</md-content>

<!-- if button is already pinned to user's board, needs to display deactivated -->

