
<md-content>
  <md-card class="pinDetailCard md-card">
    <div class="card-button">
          <md-button class="md-raised pinItButton" ng-disabled="isPinned" ng-click="addPin()">Pin It!</md-button> 
      <img src={{selectedPin.img}} class="md-card-image" alt="image">
    </div>
    <div class="card-title">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{selectedPin.title}}</span>
          <span class="md-subhead">Pinned by: {{selectedPin.name}}</span>
          <a href="{{selectedPin.url}}">See More</a>
        </md-card-title-text>
      </md-card-title>
      <md-button class="md-raised editButton" ng-disabled="!isPinned" ng-click="editPin()">Edit Pin</md-button>
    </div>
  </md-card>
</md-content>


